@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #f8f9fe; /* Original Argon Background */
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Argon typische softe Schatten */
.argon-shadow {
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
}
